span.category-tree
    display: flex
    align-items: flex-start
    gap: 0.3ch

    a, /span.tag a
        all: unset

        &:hover
            cursor: pointer
        &::after
            display: none

    span.separator
        display: inline-block;
        transform: rotate(-0.02turn);
