@import "variables.styl"

.theme-list
    ul
        list-style-type: none
        padding-left: 1.5rem

        li
            padding-left: 0.5rem
    details
        summary::before
            font-size: 1.2rem
            font-weight: 900
            font-family: monospace-font
        &[open] summary::before
            content: "- "
        &:not([open]) summary::before
            content: "+ "
        summary
            display: flex
            gap: 0.75ch
            a
                flex-grow: 1
