@import "variables.styl"

body
    width: 450px
main
    img
        width: 100%
        display: block
    p::before
        content: "\2015"
        color: slightly-light-color
        margin-right: 0.75ch
    p
        margin: -0.45rem 0 0.5rem
        color: light-color
    .theme-list li a 
        font-size: 1.1rem
