@import "page.styl"

main header div
    > *
        margin: 0.1rem 0

    time
        display: block;

    div.post-categories, div.post-tags
        display: flex;
        gap: 0 2ch;
        flex-wrap: wrap;
