foreground-color = hsl(0, 0%, 20%)
slightly-light-color = hsl(0, 0%, 30%)
light-color = hsl(0, 0%, 50%)
very-light-color = hsl(0, 0%, 93%)

mark-color = hsl(50, 80%, 85%)
link-color = hsl(75, 35%, 25%)
link-underline-color = hsl(75, 15%, 75%)

serif-font = "PT Serif", "Times New Roman", "Noto Serif", serif
monospace-font = "Cascadia Code", monospace
