<main>
    <% if (theme.cover) { %>
        <img src="<%- url_for(theme.cover) -%>" />
    <% } %>

    <h1><%= config.title %></h1>

    <% if (theme.show_description) { %>
        <p><%- config.description %></p>
    <% } %>

    <ul class="theme-list">
        <%- partial("partials/menu") %>
    </ul>
</main>
