<footer>
    <p>&copy; <%= config.author %></p>
    <p>
        Powered by <a href="https://hexo.io/">Hexo</a>,
        <a href="https://github.com/sunnybyeon/hexo-theme-dashed">Theme</a> by
        <a href="https://github.com/sunnybyeon">sunnybyeon</a>
    </p>
</footer>
