<header>
    <nav>
        <ul>
            <li><a href="<%- url_for("/") %>">Home</a></li>
            <% if (theme.header_menu) { %>
                <% for (const title in theme.header_menu) { %>
                    <li>
                        <a href="<%- url_for(theme.header_menu[title]) -%>"
                            ><span><%= title -%></span></a
                        >
                    </li>
                <% } %>
            <% } else { %>
                <%- partial("menu") %>
            <% } %>
        </ul>
    </nav>
</header>
