.theme-list ul {
  list-style-type: none;
  padding-left: 1.5rem;
}
.theme-list ul li {
  padding-left: 0.5rem;
}
.theme-list details summary::before {
  font-size: 1.2rem;
  font-weight: 900;
  font-family: "Cascadia Code", monospace;
}
.theme-list details[open] summary::before {
  content: "- ";
}
.theme-list details:not([open]) summary::before {
  content: "+ ";
}
.theme-list details summary {
  display: flex;
  gap: 0.75ch;
}
.theme-list details summary a {
  flex-grow: 1;
}
