span.category-tree a,
span.tag a {
  all: unset;
}
span.category-tree a:hover,
span.tag a:hover {
  cursor: pointer;
}
span.category-tree a::after,
span.tag a::after {
  display: none;
}
span.category-separator {
  display: inline-block;
  transform: rotate(-0.02turn);
}
