/* colors from https://github.com/highlightjs/highlight.js/blob/3e628edbe34d2ffb9166ff365f614f56621597be/src/styles/github.css */
table.highlight,
td,
th {
  border: none;
}
figure.highlight {
  margin: 0.5rem 0;
  overflow: auto;
  font-family: "Cascadia Code", monospace;
  font-size: 0.8rem;
  background-color: #f7f7f7;
}
figure.highlight > table {
  border-collapse: collapse;
}
figure.highlight > table,
figure.highlight > table td,
figure.highlight > table th {
  border: none;
}
figure.highlight figcaption {
  padding: 0.65rem 0.65rem 0.7rem;
  font-weight: 500;
  background-color: #ededed;
  color: #6a737d;
}
figure.highlight figcaption * {
  margin: 0.5ch;
}
figure.highlight td.gutter {
  position: sticky;
  left: 0;
  padding: 0.75rem 1rem;
  background-color: #ededed;
  color: #6a737d;
}
figure.highlight td.code {
  padding: 0 0.75rem;
}
figure.highlight pre,
figure.highlight code {
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}
/* modified version of https://github.com/highlightjs/highlight.js/blob/3e628edbe34d2ffb9166ff365f614f56621597be/src/styles/github.css */
/*
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
td.code pre,
.hljs {
  color: var(--foreground);
}
td.code .doctag,
.hljs-doctag,
td.code .keyword,
.hljs-keyword,
td.code .meta td.code .keyword,
.hljs-meta .hljs-keyword,
td.code .template-tag,
.hljs-template-tag,
td.code .template-variable,
.hljs-template-variable,
td.code .type,
.hljs-type,
td.code .variable.language_,
.hljs-variable.language_ {
/* prettylights-syntax-keyword */
  color: #d73a49;
}
td.code .title,
.hljs-title,
td.code .title.class_,
.hljs-title.class_,
td.code .title.class_.inherited__,
.hljs-title.class_.inherited__,
td.code .title.function_,
.hljs-title.function_ {
  color: #6f42c1;
}
td.code .attr,
.hljs-attr,
td.code .attribute,
.hljs-attribute,
td.code .literal,
.hljs-literal,
td.code .meta,
.hljs-meta,
td.code .number,
.hljs-number,
td.code .operator,
.hljs-operator,
td.code .variable,
.hljs-variable,
td.code .selector-attr,
.hljs-selector-attr,
td.code .selector-class,
.hljs-selector-class,
td.code .selector-id,
.hljs-selector-id {
/* prettylights-syntax-constant */
  color: #005cc5;
}
td.code .regexp,
.hljs-regexp,
td.code .string,
.hljs-string,
td.code .meta .string,
.hljs-meta .string {
/* prettylights-syntax-string */
  color: #032f62;
}
td.code .built_in,
.hljs-built_in,
td.code .symbol,
.hljs-symbol {
/* prettylights-syntax-variable */
  color: #e36209;
}
td.code .comment,
.hljs-comment,
td.code .code,
.hljs-code,
td.code .formula,
.hljs-formula {
/* prettylights-syntax-comment */
  color: #6a737d;
}
td.code .name,
.hljs-name,
td.code .quote,
.hljs-quote,
td.code .selector-tag,
.hljs-selector-tag,
td.code .selector-pseudo,
.hljs-selector-pseudo {
/* prettylights-syntax-entity-tag */
  color: #22863a;
}
td.code .subst,
.hljs-subst {
/* prettylights-syntax-storage-modifier-import */
  color: #24292e;
}
td.code .section,
.hljs-section {
/* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold;
}
td.code .bullet,
.hljs-bullet {
/* prettylights-syntax-markup-list */
  color: #735c0f;
}
td.code .emphasis,
.hljs-emphasis {
/* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic;
}
td.code .strong,
.hljs-strong {
/* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold;
}
td.code .addition,
.hljs-addition {
/* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4;
}
td.code .deletion,
.hljs-deletion {
/* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0;
}
td.code .marked,
.hljs-marked {
  background-color: #f7edba;
}
