.theme-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.theme-list li {
  margin: 0.25rem 0;
}
.theme-list li a {
  color: #333;
  position: relative;
  display: block;
  text-decoration: none;
}
.theme-list li a::after {
  content: "";
  border: 1px dashed #808080;
  position: absolute;
  bottom: 1ch;
  left: 0;
  width: 100%;
  z-index: -1;
}
.theme-list li a span {
  background-color: #fff;
  padding-right: 0.5rem;
}
.posts-list li {
  display: flex;
  gap: 0.5rem;
  position: relative;
}
.posts-list li span.side-info {
  color: #808080;
  flex-shrink: 0;
  max-width: 50%;
  display: flex;
}
.posts-list li span.side-info span.category-tree {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.posts-list li span.side-info > span.category-separator::before {
  content: "\00a0";
}
.posts-list li a.post-title {
  flex-grow: 1;
}
.posts-list li a.post-title div {
  display: block;
  max-width: 80%;
}
